<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length> 0) { %>
                    <h1>Welcome to Arbor Nutrition</h1>
                    <h2><i>Healthy Starts From Within</i></h2>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <a href="/products/<%= product._id %>">
                                    <div class="card__image">
                                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                    </div>
                                    <header class="card__header">
                                        <h1 class="product__title">
                                            <%= product.title %>
                                        </h1>
                                    </header>
                                </a>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>